@use 'sass:math';

/* colors
**********************************************************/
// base
$color-black: #000;
$color-blackType: #3a3a3a;
$color-grey: lighten($color-blackType, 30%);
$color-white: #fff;

// branding
$color-stripe-1: #febe26;
$color-stripe-2: #fe672e;
$color-stripe-3: #f23140;
$color-stripe-4: #ce2968;
$color-stripe-5: #701164;
$color-background: #f7f3ed;

/* typography
**********************************************************/
// font families
$font-family-mono: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
$font-family-sans-serif: "Brovoto Condensed", arial, sans-serif;
$font-family-secondary: arial, sans-serif;

// font sizes
$font-size-base: 1;
$line-height-base: 1.4;

// font weights
$font-weight-heavy: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-base: 400;
$font-weight-light: 200;

/* device widths
**********************************************************/
$widescreen: 56.25%;
$width-mobile: 576px;
$width-mobile-small: 0;
$width-tablet: 768px;
$width-desktop: 992px;
$width-max: 1200px;

/* spacing
**********************************************************/
$spacer: 1rem;

/* scaffolding
**********************************************************/
$border-radius: math.div($spacer, 5);
$border-width: 1px;
$border-width-large: $border-width * 6;

/* animations
**********************************************************/
// duration
$duration-base: 0.3s;

// easing
$ease-default: ease;

html {
  font-size: 63.75%;
}
