// CLASSES
$class-app-ready: app-ready;
$class-app-sidebar-active: app--sidebar-active;

// STYLE
$border-radius: 0.5rem;
$border-width: 1px;

// RESPONSIVE
$spacer: 1rem;
$width-max: 1440px;
$widescreen: 56.25%;
$width-desktop: 1024px;
$width-mobile-small: 320px;
$width-mobile: 640px;
$width-tablet: 768px;

// ANIMATION
$duration-base: 0.3s;

// COLORS
$color-black: #000;
$color-blackType: #3a3a3a;
$color-danger: #ff1744;
$color-grey: lighten($color-blackType, 30%);
$color-primary: #6cadde;
$color-success: #18dc87;
$color-warning: #fdb634;
$color-white: #fff;

$color-stripe-1: #febe26;
$color-stripe-2: #fe672e;
$color-stripe-3: #f23140;
$color-stripe-4: #ce2968;
$color-stripe-5: #701164;
$color-background: #f7f3ed;

$color-facebook: #3b5998;
$color-google-plus: #f44336;
$color-pinterest: #c92228;
$color-twitter: #6cadde;

// TYPOGRAPHY
$font-mono: Monaco, Menlo, Consolas, 'Courier New', monospace;
$font-primary: 'Brovoto Condensed', arial, sans-serif;
$font-secondary: arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', Times, serif;

html {
    font-size: 63.75%;
}
