
{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "targets": { "browsers": ["last 2 versions"] },
      "loose" : true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["react-hot-loader/babel"]
  ]
}
