{
  "presets": ["babel-preset-joey"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "transform-react-pure-class-to-function"
      ]
    }
  }
}
