{
  "extends": [
    "eslint-config-joey"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.test.js", "./webpack/**/*.js", "./webpack.config.babel.js", "./test-setup.js"] }]
  }
}
