$component-class: splash__stripes;

.#{$component-class} {
    div {
        height: $spacer * 2;
        transition-duration: $duration-base * 5;
        transition-property: transform;
        transition-timing-function: ease-out;
        transform: translateX(-100%);

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                transition-delay: $i * $duration-base / 3;
            }
        }

        .#{$class-app-ready} & {
            transform: translateX(0);
        }

        &:nth-child(1) {
            background: $color-stripe-1;
        }

        &:nth-child(2) {
            background: $color-stripe-2;
        }

        &:nth-child(3) {
            background: $color-stripe-3;
        }

        &:nth-child(4) {
            background: $color-stripe-4;
        }

        &:nth-child(5) {
            background: $color-stripe-5;
        }
    }
}
