@import 'variables';

@mixin font-size($sizeValue) {
    $remValue: $sizeValue;
    $pxValue: ($sizeValue * 10);

    font-size: $pxValue + px;
    font-size: $remValue + rem;
}

@mixin line-height($sizeValue) {
    $remValue: $sizeValue;
    $pxValue: ($sizeValue * 10);

    line-height: $pxValue + px;
    line-height: $remValue + rem;
}

@mixin clearfix() {
    &::before,
    &::after {
        content: '';
        display: table;
        height: 0;
        visibility: hidden;
    }

    &::after {
        clear: both;
    }
}
