@use "sass:math";

@import "../../styles/config/variables";
@import "../../styles/mixins/transition";

@keyframes navigationTogglePulse {
  0%,
  30%,
  100% {
    transform: scale(1);
  }

  15% {
    transform: scaleX(1.5);
  }
}

.root {
  @include transition(opacity);

  display: flex;
  flex-flow: row wrap;
  position: absolute;
  right: $spacer * 1.5;
  top: $spacer * 1.5;
  width: $spacer * 4;
  z-index: 5;

  span {
    align-items: center;
    animation-duration: $duration-base * 10;
    animation-iteration-count: infinite;
    animation-name: navigationTogglePulse;
    animation-timing-function: ease-in-out;
    display: flex;
    height: math.div($spacer, 3);
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: math.div($spacer, 1);

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: $i * math.div($duration-base, 2);
      }
    }

    &::after {
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &:nth-child(1)::after {
      background: $color-stripe-3;
    }

    &:nth-child(2)::after {
      background: $color-stripe-2;
    }

    &:nth-child(3)::after {
      background: $color-stripe-1;
    }
  }
}
